* {
  box-sizing: border-box; }

html body {
  height: 100vh; }

nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.2rem;
  box-shadow: -0.5px -0.5px 0.5rem rgba(255, 255, 255, 0.5), 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); }

#main {
  width: 100%;
  height: 85%; }

div.search {
  width: 100%; }
  div.search .search-box #search-inp {
    color: #f5f5f5;
    border-style: none;
    height: 2rem;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px); }
  div.search .search-box #search-inp::placeholder {
    color: #f5f5f5; }

.btn {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  background-color: #e81051;
  transition: .2s ease-in-out; }

.btn:hover {
  box-shadow: .06rem .06rem .9rem  red, -.06rem -.06rem .9rem red; }

.btn:hover .fa-search {
  font-size: 1.5rem; }

div.botton-search {
  position: relative;
  left: 2em;
  right: 0;
  bottom: 0;
  top: 0; }

div.search {
  width: 45%; }

.fa-search {
  color: white;
  font-size: 1rem;
  transition: .2s ease-in-out; }

#main-1 {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5; }

div.clock {
  width: 90%; }
  div.clock h1 {
    font-size: 3.5rem; }
  div.clock h4 {
    font-size: 1.3rem; }

.sun-title h3 {
  font-size: 1.8rem; }

.sun-title h6 {
  color: #6e6e6e;
  font-size: 1rem; }

div.sunshine {
  padding: 5%;
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  background: #f5f5f5;
  box-shadow: .5rem .5rem .9rem #d0d0d0,-.5rem -.5rem .9rem #ffffff;
  width: 90%; }

div.sunset {
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  background: #f5f5f5;
  box-shadow: .5rem .5rem .9rem #d0d0d0,-.5rem -.5rem .9rem #ffffff;
  margin: 2%;
  padding: 2%;
  width: 90%; }
  div.sunset h5 {
    color: #6e6e6e;
    font-size: 1rem; }
  div.sunset h4 {
    color: #2e2e2e;
    font-size: 1.5rem;
    font-style: bold; }

div.sunrise {
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  background: #f5f5f5;
  box-shadow: .5rem .5rem .9rem #d0d0d0,-.5rem -.5rem .9rem #ffffff;
  width: 90%;
  margin: 2%;
  padding: 2%; }
  div.sunrise h5 {
    color: #6e6e6e;
    font-size: 1rem; }
  div.sunrise h4 {
    color: #2e2e2e;
    font-size: 1.5rem;
    font-style: bold; }

div.days {
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  background: #f5f5f5;
  box-shadow: .5rem .5rem .9rem #d0d0d0,-.5rem -.5rem .9rem #ffffff;
  margin: 5%;
  padding: 1%;
  padding-left: 0;
  padding-right: 0;
  width: 90%; }

div.w-1:not(:last-child) {
  border-right: solid .01rem #e3e3e3; }

.days div.w-1 {
  box-sizing: border-box;
  height: 80%;
  margin: 0;
  padding: 3%; }

#main-2 {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px); }

div.day-title div.title-degre {
  color: white; }
  div.day-title div.title-degre h1 {
    font-size: 4.5rem;
    font-weight: bold; }
  div.day-title div.title-degre h4 {
    font-size: 2rem; }

div.day-title div.title-icon span {
  font-size: 6rem; }

div.day-times {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.2rem;
  box-shadow: -0.5px -0.5px 0.5rem rgba(255, 255, 255, 0.5), 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  margin: 5%;
  padding: 1%;
  padding-left: 0;
  padding-right: 0;
  width: 90%; }

div.w-2:not(:last-child) {
  border-right: solid 0.01rem rgba(0, 0, 0, 0.2); }

.day-times {
  padding: 1%; }
  .day-times div.w-2 {
    box-sizing: border-box;
    height: 80%;
    margin: 0;
    padding: 3%; }

div.detail {
  color: white; }
  div.detail h2 {
    margin-top: 20%;
    margin-bottom: 3%;
    font-size: 1.4rem;
    font-weight: bold; }

div.per-details {
  color: white;
  width: 90%; }
  div.per-details div.per {
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1.2rem;
    box-shadow: -0.5px -0.5px 0.5rem rgba(255, 255, 255, 0.5), 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    width: 90%; }
    div.per-details div.per h4 {
      font-size: .8rem; }
    div.per-details div.per h5 {
      font-size: 1rem;
      font-weight: bold; }

.switch {
  position: relative;
  width: 2.5rem;
  height: 1.5rem; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  box-shadow: -0.3rem -0.3rem 0.6rem rgba(255, 255, 255, 0.8), 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(2px); }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.5), inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s; }

input:checked + .slider {
  box-shadow: inset -0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.5), inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  background-color: #e81051; }

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  html {
    font-size: 12px; }
  body #search-inp {
    width: 10rem;
    font-size: .6rem;
    padding-left: 1.8rem; }
  div.location h5 {
    font-size: .9rem; }
  .fa-cloud {
    color: white;
    font-size: 2rem; }
  div.nav-box {
    margin-top: 2rem; }
  #main {
    display: grid;
    grid-template-rows: 1fr 1fr; }
    #main .days div.w-1 h4 {
      font-size: .9rem; }
    #main .days div.w-1 h5 {
      font-size: .9rem;
      font-weight: bold; }
    #main .day-times div.w-2 h4 {
      font-size: .9rem; }
    #main .day-times div.w-2 h5 {
      font-size: .9rem;
      font-weight: bold; }
    #main div.day-title {
      display: grid;
      grid-template-rows: 1fr 1fr; }
      #main div.day-title div.title-degre {
        justify-self: center; }
      #main div.day-title div.title-icon {
        justify-self: center; }
  div.sun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.sun-title {
    display: grid;
    grid-template-rows: 1fr 1fr; }
    div.sun-title grid
h6 {
      justify-self: center; }
  div.day-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  html {
    font-size: 10px; }
  #search-inp {
    width: 15rem;
    font-size: 1rem;
    padding-left: 2rem; }
  div.location h5 {
    font-size: 1.6rem; }
  .fa-cloud {
    font-size: 2.5rem;
    color: white; }
  #main {
    display: grid;
    grid-template-rows: 1fr 1fr; }
    #main .days div.w-1 h4 {
      font-size: .9rem; }
    #main .days div.w-1 h5 {
      font-size: .95rem;
      font-weight: bold; }
    #main div.day-title {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #main div.day-title div.title-degre {
        justify-self: start; }
      #main div.day-title div.title-icon {
        justify-self: end; }
    #main .day-times div.w-2 h4 {
      font-size: .9rem; }
    #main .day-times div.w-2 h5 {
      font-size: .95rem;
      font-weight: bold; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 12px; }
  #search-inp {
    width: 20rem;
    font-size: 1rem;
    padding-left: 2rem; }
  div.location {
    padding-left: 2rem; }
    div.location h5 {
      font-size: 1.6rem; }
  .fa-cloud {
    font-size: 2.5rem;
    color: white; }
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #main .days div.w-1 h4 {
      font-size: 1rem; }
    #main .days div.w-1 h5 {
      font-size: 1.1rem;
      font-weight: bold; }
    #main div.day-title {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #main div.day-title div.title-degre {
        justify-self: start; }
      #main div.day-title div.title-icon {
        justify-self: end; }
    #main .day-times div.w-2 h4 {
      font-size: 1rem; }
    #main .day-times div.w-2 h5 {
      font-size: 1.1rem;
      font-weight: bold; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px; }
  #search-inp {
    width: 23rem;
    font-size: 1rem;
    padding-left: 2rem; }
  div.location {
    padding-left: 3rem; }
    div.location h5 {
      font-size: 1.4rem; }
  .fa-cloud {
    font-size: 2.2rem;
    color: white; }
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #main .days div.w-1 h4 {
      font-size: 1rem; }
    #main .days div.w-1 h5 {
      font-size: 1.1rem;
      font-weight: bold; }
    #main div.day-title {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #main div.day-title div.title-degre {
        justify-self: start; }
      #main div.day-title div.title-icon {
        justify-self: end; }
    #main .day-times div.w-2 h4 {
      font-size: 1rem; }
    #main .day-times div.w-2 h5 {
      font-size: 1.1rem;
      font-weight: bold; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px; }
  #search-inp {
    width: 25rem;
    font-size: 1rem;
    padding-left: 2rem; }
  div.location h5 {
    font-size: 1.6rem; }
  .fa-cloud {
    font-size: 2.5rem;
    color: white; }
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #main .days div.w-1 h4 {
      font-size: 1rem; }
    #main .days div.w-1 h5 {
      font-size: 1.3rem;
      font-weight: bold; }
    #main div.day-title {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #main div.day-title div.title-degre {
        justify-self: start; }
      #main div.day-title div.title-icon {
        justify-self: end; }
    #main .day-times div.w-2 h4 {
      font-size: 1rem; }
    #main .day-times div.w-2 h5 {
      font-size: 1.3rem;
      font-weight: bold; } }
